@import url("https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,600;1,500&display=swap");
.App {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100%;
}

#__next {
  height: 100%;
}
.text {
  margin-top: 5px;
}
.ButtonGroup {
  margin-top: 10px;
}
.ButtonGroup a {
  font-size: 1.5em;
}
.logoText {
  font-size: 3em;
  font-family: "Liu Jian Mao Cao", cursive;
  color: #2a3a4a;
  padding-bottom: 5px;
}
.intro {
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 8%;
}
@media screen and (max-width: 500px) {
  .logoText {
    font-size: 1.8em;
    font-family: "Liu Jian Mao Cao", cursive;
    color: #2a3a4a;
  }
}
